.pageForm .wrapper {
  margin-top: 30px !important;
}

.incident-heading {
  color: var(--blue) !important;
}

.small-img {
  width: 72px; 
  height: 72px; 
  object-fit: contain; 
}

.flowListWrap {
  width: 100%;
  position: relative;
  z-index: 1;
}

.flowListWrap::before {
  content: "";
  position: absolute;
  background-color: var(--blue);
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.flowList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}

.flowList li {
  color: var(--white);
  width: 200px;
  padding: 24px 16px;
  text-align: center;
  position: relative;
}

.flowList li:nth-of-type(n+2)::before {
  content: "";
  position: absolute;
  background: url(../../img/icon_arrow.png)no-repeat center center/contain;
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  left: -40px;
  margin: auto 0;
  z-index: 1;
}

.flowList li.-flowActive {
  background-color: var(--darkBlue);
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

#Sugerencias::placeholder {
  font-size: 0.8rem;
  color:  var(--gray2);
}

#descripción::placeholder {
  font-size: 0.8rem;
  color:  var(--gray2);
}

#department{
  color: var(--gray1);
} 

.preview{
  display: flex;
}

.card-body > :first-child {
  margin-top: 20px;
}
.card-body > :last-child {
  margin-bottom: 20px;
}

.styleForOverFlow {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

textarea#descripción {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;

  overflow: auto;
  resize: none;
}

textarea#descripción::-webkit-scrollbar {
  width: 6px;
}

textarea#descripción::-webkit-scrollbar-thumb {
  background-color: var(--gray3);
  border-radius: 100px;
}

textarea#descripción::-webkit-scrollbar-thumb:hover {
  background: var(--gray2);
}

textarea#descripción::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

textarea#sugerencias::-webkit-scrollbar {
  width: 6px;
}

textarea#sugerencias::-webkit-scrollbar-thumb {
  background-color: var(--gray3);
  border-radius: 100px;
}

textarea#sugerencias::-webkit-scrollbar-thumb:hover {
  background: var(--gray2);
}

textarea#sugerencias::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

textarea#Sugerencias {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;

  overflow: auto;
  resize: none;
}

textarea#Sugerencias::-webkit-scrollbar {
  width: 6px;
}

textarea#Sugerencias::-webkit-scrollbar-thumb {
  background-color: var(--gray3);
  border-radius: 100px;
}

textarea#Sugerencias::-webkit-scrollbar-thumb:hover {
  background: var(--gray2);
}

textarea#Sugerencias::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

/* SP
============================================================ */

@media screen and (max-width: 768px) {
  .flowList {
    margin: 0 -10px;
    padding: 8px;
    gap: 0 24px;
  }
  
  .flowList li {
    width: calc((100% - 48px) / 3);
    font-size: 14px;
    padding: 16px 8px;
  }

  .flowList li:nth-of-type(n+2)::before {
    width: 32px;
    height: 32px;
    left: -30px;
  }

  .spFull {
    max-width: 100% !important;
  }
}