.buttonWrap {
  width: 100%;
}

.buttonWrap.-rightContents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

.buttonWrap.-column {
  flex-direction: column;
}

.buttonA {
  display: inline-block;
  min-width: 250px;
  max-width: 280px;
}

.buttonA a {
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 40px;
  border-radius: 32px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.buttonA a:hover {
  box-shadow: none;
  transform: translateY(4px);
}

.buttonA.-sizeS {
  min-width: 180px;
  max-width: 230px;
}

.buttonA.-sizeL {
  min-width: 300px;
  max-width: 330px;
}

.buttonA.-thin a {
  padding: 8px;
}

.buttonA a.-iconBack {
  position: relative;
}

.buttonA a.-iconBack::before {
  content: "";
  position: absolute;
  background: url(../img/icon-back.svg)no-repeat center center/contain;
  width: 18px;
  height: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 24px;
  z-index: 1;
}

button.buttonA {
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 40px;
  border-radius: 32px;

  transition: 0.3s;
  box-shadow: 0px 4px 0 var(--gray3);
}

button.buttonA:hover {
  box-shadow: none;
  transform: translateY(4px);
}


button.buttonA.-sizeS {
  min-width: 180px;
  max-width: 230px;
}

button.buttonA.-thin {
  padding: 8px;
}

.buttonA.-centerContents {
  margin-right: auto !important;
  margin-left: auto !important;
  display: flex;
  justify-content: center;
}

/* buttonForm
============================== */
.buttonForm {
  display: inline-block;
  min-width: 250px;
  max-width: 280px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 16px 40px;
  border-radius: 32px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  transition: 0.3s;
}

.buttonForm:hover {
  box-shadow: none;
  transform: translateY(4px);
}

button.buttonA.-sizeS {
  min-width: 180px;
  max-width: 230px;
}

.buttonForm.-thin {
  padding: 8px;
}

/* buttonLogin
============================== */
.buttonLogin {
  display: inline-block;
  min-width: 200px;
  max-width: 280px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 8px;
  border-radius: 32px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  transition: 0.3s;
  margin: 16px auto 0;
}

.buttonLogin:hover {
  box-shadow: none;
  transform: translateY(4px);
}

.buttonChat {
  width: 45px;
  height: 45px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: var(--blue);
}