/* Delete after
============================== */
.h-20 {
  height: 20px;
}

/* common
============================== */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--gray1);
  height: 100%;
  min-height: 100vh;
}
body p {
  margin-bottom: 0;
}
#root {
  min-height: inherit; /* 追加 */
}
.wrapper {
  margin-top: 64px; /* after */
  padding-right: 32px;
  padding-left: 32px;
}

/* space */
.-mt120 { margin-top: 120px; }
.-mt64 { margin-top: 64px; }
.-mt40 { margin-top: 40px; }
.-mt16 { margin-top: 16px;}


/* color */
.-blue { color: var(--blue) !important; }
.-lightBlue { color: var(--lightBlue) !important; }
.-gray { color: var(--gray) !important; }

/* other style */
.-bold { font-weight: 700; }
.-medium { font-weight: 400 !important; }
.-center { text-align: center;}
.-required { 
  color: var(--red); 
  font-size: 14px;
  margin-left: .5em;
}

/* title */
.titleA, .titleB, .titleC {
  color: var(--blue);
  font-family: "Archivo Black", sans-serif;
}

.headdingA, .headdingB, .headdingC {
  color: var(--textGray);
}

/* text */
.linkText {
  color: var(--blue);
  text-decoration: underline;
}

.linkText:hover {
  text-decoration: none;
}

/* boxGray */
.boxGray {
  background-color: var(--gray);
  border-radius: 20px;
  padding: 40px;
}
